.skill {
    padding: 10%;
}
.skill > * {
    width: 80%;
}

.skill-container {
    display: flex;
    width: 100%;
    gap: 24px;
    justify-content: space-between;
}

.skill-container img {
    width: 40px;
    height: 40px;
}