@font-face {
    font-family: Inter;
    src: url("../font/Inter.ttf");
}
* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-weight: bold;
}

body {
    background-color: #dddddd;
}

.header {
    display: flex;
    align-items: center;
    background-color: #dddddd;
    opacity: .96;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 64px;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 2;
}
.header-logo {
    opacity: 1;
    height: 32px;
    width: auto;
}
.header-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    opacity: 1;
}
.header-item a {
    text-decoration: none;
    color: black;
}

.section {
    height: 100vh;
    padding: 0px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 128px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

.blue {
    color: #325C80;
}