.project-container {
    display: grid;
    grid-template-columns: 45% 45%;
    width: 100%;
    height: 100%;
    row-gap: 12px;
    justify-content: space-evenly;
}

.project-content {
    display: flex;
    background-color: gray;
    background-position: center;
    box-shadow: inset 0 -64px 24px -24px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    height: 400px;
    justify-content: center;
    align-items: flex-end;
    color: #eee;
    padding-bottom: 10px;
}

.ucharging {
    background-image: url("../img/project/ucharging-project.png");
}

.noka-3 {
    background-image: url("../img/project/noka3-project.png");
}

@media only screen and (max-width: 600px) {
    .project-container {
        grid-template-columns: auto;
        height: auto;
    }
}